doctype html 
html(lang="kr")
  head
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    title #{titleContent} | youtube
  body 
  header 
    h1=titleContent
  main
    block content
  include partials/footer.pug