extends base
block content 
  if(errorMessage)
    span=errorMessage
  form(method="POST")
    input(type="text" name="userName" required placeholder="userName")
    input(type="password" name="password" required placeholder="password")
    input(type="submit" value="create" )
  br
  div 
    a(href="/login") 계정이 없으신가요?
